@{
    ViewData["Title"] = "Porównanie cen smartfonów apple wybranych sklepów";
}

<h1>Porównanie cen smartfonów Apple wybranych sklepów</h1>
<button id="generatePdfButton" class="btn btn-primary" style="display:none;">Generuj PDF</button>
<div id="loadingMessage">Ładowanie danych...</div>
<div id="productDataContainer"></div>

<!-- Przycisk generowania pliku PDF -->


<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Send Ajax Request to controller
        fetch("/Products/GetProductData")
            .then(response => response.text())
            .then(data => {
                // load data on page
                document.getElementById("productDataContainer").innerHTML = data;
                // hide loading information
                document.getElementById("loadingMessage").style.display = "none";
                // show generate PDF button
                document.getElementById("generatePdfButton").style.display = "block";
            });
    });

    // Dodajemy nasłuchiwanie kliknięcia przycisku
    document.getElementById("generatePdfButton").addEventListener("click", function () {
        // Pobierz zawartość HTML
        const htmlContent = document.getElementById("productDataContainer").innerHTML;

        // Wyślij zawartość HTML do kontrolera za pomocą żądania POST
        fetch("/Products/GeneratePdf", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(htmlContent)
        })
            .then(response => response.blob())
            .then(blob => {
                // Utwórz link do pobrania pliku PDF
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement("a");
                a.href = url;
                a.download = "Porównanie_cen_smartfonów_Apple_wybranych_sklepów.pdf";
                a.click();
                window.URL.revokeObjectURL(url);
            });
    });
</script>
